.drop-zone {
  height: 500px;
  width: 80%;
  margin: 0 auto 25px;
  outline: none;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  border: 2px solid black;

  &:hover {
    background: aquamarine;
    cursor: pointer;
  }

}
.drag-drop {

  &-btn {
    height: 100%;
    width: 100%;
    opacity: 0;
  }

  &:hover {
    cursor: pointer;
  }
}
